<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--<suite name="TestWithOneBrowser">-->
    <!--<test name="ChromeTest">-->
        <!--<parameter name="browser" value="chrome"/>-->
        <!--<packages>-->
            <!--<package name="net.artc_it.tests"/>-->
        <!--</packages>-->
    <!--</test>-->
<!--</suite>-->

<!--<suite name="TestDebugWithoutBrowser">-->
    <!--<test name="TestDebugWithoutBrowser">-->
        <!--<classes>-->
            <!--<class name="net.artc_it.debug.TestDebugWithoutBrowser"> </class>-->
        <!--</classes>-->
    <!--</test>-->
<!--</suite>-->

<!--<suite name="TestWithNoVisualBrowser">-->
    <!--<test name="PhantomJSDrive">-->
        <!--<parameter name="browser" value="novisual"/>-->
        <!--<classes>-->
            <!--<class name="net.artc_it.tests.TestSite">-->
                <!--&lt;!&ndash;<methods>&ndash;&gt;-->
                    <!--&lt;!&ndash;<include name="testTimeForLoafPage" />&ndash;&gt;-->
                <!--&lt;!&ndash;</methods>&ndash;&gt;-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->
<!--</suite>-->

<suite name="CrossBrowserArtTest">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <packages>
            <package name="net.artc_it.tests"/>
        </packages>
    </test>
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <packages>
            <package name="net.artc_it.tests"/>
        </packages>
    </test>
</suite>